.navbar {
  align-items: center;
  background-color: $primary;
  display: flex;
  flex-direction: column;
  font-size: small;
  justify-content: center;
  padding: 5px 30px 5px 30px;
}

.navbar-top {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navbar-bottom {
  align-self: center;
}